<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Draw Schemes.<br/>
            Watch Them Work.</h1>
            <p class="home-text">Build vector systems that pretty much run themselves. Get better at design and efficiency — your creations keep
            developing while you're doing other things.</p>
            <a class="home-link" href="#how">
                <p>Begin Your First Scheme — Free</p>
            </a>
        </div>
    </div>
</section>