@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./main.css');
@import url('./footer.css');




.background {
    text-align: left;
}

.policy-container {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.privacy-title {
font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.article{
font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}


.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #353334;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    text-transform: uppercase;
}

.policy-number {
    padding-left: 30px;
    margin: 0;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
font-size: 50px;
    }

    .background {
        font-size: 24px;
    }

    .policy-subtitle {
        font-size: 30px;
    }
.article{
font-size: 26px;
}
    .policy-container {
        padding-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
/* <h4 class="article">Interpretation and Definitions</h4> */